[Desktop Entry]
Name=Snap Store
Comment=Add, remove or update software on this computer
Icon=io.snapcraft.Store.png
Exec=snap-store
Type=Application
Keywords=
