.app-page-contact-label {
}

.app-page-details-heading-label {
    font-weight: bold;
}

.app-page-details-title-label {
    font-size: large;
}

.app-page-details-value-label {
}

.app-page-summary-label {
    font-size: large;
}

.app-page-title-label {
    font-size: xx-large;
}

.app-tile-publisher-label {
    opacity: 0.5;
}

.category-title-label {
    font-size: xx-large;
}

.hero-title-label {
}

.hero-summary-label {
    font-size: x-large;
}

.hero-tile {
    background: #10d356;
}

.install-button {
}

.rating-label {
}

.review-author-label {
    opacity: 0.5;
}

.review-box {
    padding: 18px;
    background-color: white;
    box-shadow: gray 3px 3px 3px;
}

.review-date-label {
    opacity: 0.5;
}

.review-description-label {
}

.review-summary-label {
}
