.app-installed-tile-box {
    border-radius: 3px;
    border: solid 1px #e0e0e0;
    padding: 16px;
}

.app-installed-tile-launch-button {
    background-color: #0e8420;
}

.app-installed-tile-launch-button-label {
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

.app-installed-tile-publisher-label {
    font-family: Ubuntu-Light;
    font-size: 14px;
    color: #4a4a4a;
}

.app-installed-tile-remove-button {
    background-color: #c7162b;
}

.app-installed-tile-remove-button-label {
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

.app-installed-tile-summary-label {
    font-family: Ubuntu-Light;
    font-size: 14px;
    color: #111111;
}

.app-installed-tile-title-label {
    font-family: Ubuntu-Light;
    font-size: 21px;
    color: #007aa6;
}

.app-page-contact-label {
    font-family: Ubuntu-Light;
    font-size: 16px;
    color: #007aa6;
    text-decoration: none;
}

.app-page-description-label {
    font-family: Ubuntu-Light;
    font-size: 16px;
    color: #212121;
}

.app-page-content-box {
    padding-top: 52px;
    padding-bottom: 52px;
    padding-left: 128px;
    padding-right: 128px;
}

.app-page-details-box {
}

.app-page-details-heading-label {
    font-family: Ubuntu-Light;
    font-size: 24px;
    color: #111111;
}

.app-page-details-key-label {
    font-family: Ubuntu-Light;
    font-size: 16px;
    color: #4a4a4a;
}

.app-page-details-title-label {
    font-family: Ubuntu-Light;
    font-size: 24px;
    color: #111111;
}

.app-page-details-value-label {
    font-family: Ubuntu-Light;
    font-size: 16px;
    color: #111111;
}

.app-page-header-box {
    padding-top: 52px;
    padding-bottom: 52px;
    padding-left: 128px;
    padding-right: 128px;
    background-image: url("snap-background.png");
    background-size: cover;
}

.app-page-install-button {
    background-color: #0e8420;
}

.app-page-install-button-label {
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

.app-page-launch-button {
    background-color: #0e8420;
}

.app-page-launch-button-label {
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

.app-page-publisher-label {
    font-size: 14px;
}

.app-page-rating-label {
    font-size: 14px;
}

.app-page-remove-button {
    background-color: #c7162b;
}

.app-page-remove-button-label {
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

.app-page-review-box {
    margin-top: 40px;
}

.app-page-review-count-label {
    padding-left: 8px;
    font-family: Ubuntu-Light;
    font-size: 14px;
    color: #60625d;
}

.app-page-reviews-box {
    padding-bottom: 52px;
    padding-left: 128px;
    padding-right: 128px;
}

.app-page-review-summary {
    margin-top: 24px;
}

.app-page-reviews-title-label {
    font-family: Ubuntu-Light;
    font-size: 24px;
    color: #111111;
}

.app-page-screenshot-view {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 128px;
    padding-right: 128px;
    background: #f7f7f7;
}

.app-page-summary-label {
    font-family: Ubuntu;
    font-size: 18px;
    color: #212121;
}

.app-page-title-label {
    font-family: Ubuntu-Light;
    font-size: 21px;
    color: #007aa6;
}

.app-page-write-review-button {
    background-color: #0e8420;
    margin-top: 40px;
}

.app-page-write-review-button-label {
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

.app-small-tile-box {
}

.app-small-tile-title-label {
    font-family: Ubuntu-Light;
    font-size: 18px;
    color: #007aa6;
}

.app-tile-box {
    border-radius: 3px;
    border: solid 1px #e0e0e0;
    padding: 16px;
}

.app-tile-title-label {
    font-family: Ubuntu-Light;
    font-size: 21px;
    color: #007aa6;
}

.app-tile-publisher-label {
    font-family: Ubuntu-Light;
    font-size: 14px;
    color: #4a4a4a;
}

.app-tile-summary-label {
    font-family: Ubuntu-Light;
    font-size: 14px;
    color: #111111;
}

.categories-page-category-grid {
    padding: 32px;
}

.categories-page-description-label {
    font-family: Ubuntu-Light;
    font-size: 16px;
    color: #111111;
    padding-top: 16px;
}

.categories-page-header-box {
    background-image: url("snap-background.png");
    background-size: cover;
    padding: 32px;
}

.categories-page-title-label {
    font-family: Ubuntu-Light;
    font-size: 28px;
    color: #212121;
}

.category-list-app-box {
    border-radius: 3px;
    border: solid 1px #e0e0e0;
    padding: 24px;
}

.category-list-title-label {
    font-family: Ubuntu-Light;
    font-size: 19px;
    color: #007aa6;
}

.category-page-app-grid {
    margin: 32px;
}

.category-page-header-box {
    background-image: url("snap-background.png");
    background-size: cover;
    padding: 32px;
}

.category-page-summary-label {
    font-family: Ubuntu-Light;
    font-size: 16px;
    color: #111111;
    padding-top: 16px;
}

.category-page-title-label {
    font-family: Ubuntu-Light;
    font-size: 28px;
    color: #212121;
}

.category-tile-box {
    border-radius: 3px;
    border: solid 1px #e0e0e0;
    padding: 24px;
}

.category-tile-title-label {
    font-family: Ubuntu-Light;
    font-size: 20px;
    color: #111111;
}

.category-title-label {
    font-family: Ubuntu-Light;
    font-size: 28px;
    color: #212121;
}

.home-page-content-box {
    margin: 32px;
}

.installed-page-app-box {
    margin: 32px;
}

.installed-page-description-label {
    font-family: Ubuntu-Light;
    font-size: 16px;
    color: #111111;
    padding-top: 16px;
}

.installed-page-header-box {
    background-image: url("snap-background.png");
    background-size: cover;
    padding: 32px;
}

.installed-page-title-label {
    font-family: Ubuntu-Light;
    font-size: 28px;
    color: #212121;
}

.review-summary-bar {
    background: #eaeaea;
    color: #60625d;
}

.review-summary-rating-label {
    font-size: 20px;
}

.review-summary-star-count-label {
}

.review-author-date-label {
    font-family: Ubuntu-Light;
    font-size: 14px;
    opacity: 0.5;
    color: #111111;
    padding-top: 9px;
}

.review-description-label {
    font-family: Ubuntu-Light;
    font-size: 16px;
    color: #212121;
    padding-top: 12px;
}

.review-feedback-label {
    font-family: Ubuntu-Light;
    font-size: 14px;
    color: #111111;
    padding-top: 16px;
}

.review-summary-label {
    font-family: Ubuntu;
    font-size: 16px;
    color: #111111;
}

.review-view-rating-label {
    font-size: 20px;
}

.store-window {
    background: #ffffff;
}
